body{
    /*display: grid;
    /*adjust template, testing only now*//*
    grid-template-rows: 3fr 6fr;*/
    margin: 0;
}

.controlRow{
    background-color: #585656;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
}

.booksRow #bookshelf{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
}

.inputModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

    display: none;
}

.modalContent{
    margin: 15% auto;
    background-color: whitesmoke;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#newBook ul{
    margin: 0;
    padding: 0;
}

#newBook li{
    list-style-type: none;
}