body{
    display: grid;
    /*adjust template, testing only now*/
    grid-template-rows: 3fr 6fr;
}

.controlRow{
    background-color: #585656;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

    display: none;
}

